<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestLinkSuite" verbose="1">

    <test name="Init" preserve-order="true">
        <classes>
            <class name="de.eimb.testlink.citrus.CTL1V2" />
            <class name="de.eimb.testlink.citrus.CTL3V1" />
        </classes>
    </test>

</suite>
